:root {
    --bg-color: #050505;
    --text-main: #ffffff;
    --cyber-cyan: #006eff;
    --cyber-pink: #ff00ff;
    --panel-bg: rgba(20, 20, 20, 0.8);
    --font-main: 'Pixelify Sans', 'Courier New', monospace;
}